.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    height: 100vh;
    width: 3vw;
    background: $accent-1;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .20);
	transition: all 1s;

    &:hover {
        width: 30vw;
    }

    &:hover &__nav {
        left: 10vw;
    }

    &:hover ~ .section {
        transform: perspective(20vw) rotateY(10deg) translateX(20vw) translateY(5rem) scaleY(1.2);
    }

    &__nav {
        position: absolute;
        left: -20rem;
        transition: 1.25s;
    }

    &__list {
        list-style: none;
        text-align: center;
        width: 100%;
    }

    &__item {
        margin: 1rem;
    }

    &__link {
        &:link,
        &:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            padding: 1rem 2rem;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            background-size: 230%;
            transition: all .4s;

            span {
                margin-right: 1.5rem;
                display: inline-block;
            }
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: $color-black;
            transform: translateX(1rem);
        }
    }
}