.menu {
    display: flex;
    z-index: 1999;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    height: 100vh;
    width: 3vw;
    background: $accent-1;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .20);
	transition: all 1s;

    &:hover {
        width: 30vw;
    }

    &:hover &__arrow {
        display: none;
    }

    &:hover &__nav {
        left: 50%;
    }

    &:hover ~ main > .section {
        transform: perspective(20vw) rotateY(10deg) translateX(20vw) translateY(5rem) scaleY(1.2);
    }

    &__arrow {
        display: block;

        @include responsive(tablet) {
            display: none;
        }
    }

    &__nav {
        position: absolute;
        top: 50%;
        left: -20rem;
        transform: translate(-50%, -50%);
        transition: 1.25s;
    }

    &__list {
        list-style: none;
        text-align: center;
        width: 100%;
    }

    &__item {
        margin: 1rem;
    }

    &__link {
        &:link,
        &:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            padding: 1rem 2rem;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            background-size: 230%;
            transition: all .4s;

            span {
                margin-right: 1.5rem;
                display: inline-block;
            }
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: $color-black;
            transform: translateX(1rem);
        }
    }

    @include responsive(tablet) {
		width: 0%;
	}

    &__checkbox {
        display: none;
    }

    &__button {
        display: none;
        text-align: center;
        height: 6rem;
        width: 6rem;
        position: fixed;
        top: 2rem;
        left: 2rem;
        border-radius: 50%;
        z-index: 2000;
        cursor: pointer;

        @include responsive(tablet) {
            display: unset;
        }
    }

    // FUNCTIONALITY
    &__checkbox:checked ~ & {
        width: 100%;
    }

    &__checkbox:checked ~ & > &__nav {
        left: 50%;
    }

    &__checkbox:checked ~ & > &__arrow {
        display: none;
    }

    // ICON
    &__icon {
        position: relative;
        margin-top: 3rem;

        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $color-white;
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before {
            top: -.8rem;
            // ? transform origin rotates the element from left/right side of element as axis
            // transform-origin: left;
        }

        &::after {
            top: .8rem;
        }
    }

    &__button:hover &__icon::before {
        top: -1rem;
    }

    &__button:hover &__icon::after {
        top: 1rem;
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }
}