@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	line-height: 1.7;
	color: $color-white;
}

.heading-home {
    color: $background-1;
    line-height: 1;
    background: $accent-1;
    font-weight: 200;
    font-size: 10rem;
    padding: 2.5rem;
    border-radius: 3rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .20);
}

.menu {
    font-size: 4rem;
    color: $background-1;
}